$schema: https://azuremlschemas.azureedge.net/latest/managedOnlineDeployment.schema.json

name: diabetes-deployment
endpoint_name: diabetes-endpoint-xyz3

model:
  name: diabetes_prod_model
  version: 1
  type: mlflow_model

environment:
  name: mlflow-model-inference
  version: 2

instance_type: Standard_D2as_v4
instance_count: 1
